<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
	"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="BatPospTCheckResultRowMapper" >
  <resultMap id="BaseResultMap" class="com.yucheng.cmis.batch.diffdb.pojo.BatPospTCheckResult" >
    <result column="EVENTID" property="eventid" jdbcType="VARCHAR" />
    <result column="SA_TRAN_PLACE" property="saTranPlace" jdbcType="VARCHAR" />
    <result column="SA_TRAN_PLACE2" property="saTranPlace2" jdbcType="VARCHAR" />
    <result column="SA_INST_ID" property="saInstId" jdbcType="VARCHAR" />
    <result column="SA_BATCH_DAY" property="saBatchDay" jdbcType="VARCHAR" />
    <result column="SA_HOST_DAY" property="saHostDay" jdbcType="VARCHAR" />
    <result column="SA_SETTLE_DAY" property="saSettleDay" jdbcType="VARCHAR" />
    <result column="SA_SYS_TRA_NUM" property="saSysTraNum" jdbcType="VARCHAR" />
    <result column="SA_RTR_REF_NUM" property="saRtrRefNum" jdbcType="VARCHAR" />
    <result column="SA_TXN_DATE_TIME" property="saTxnDateTime" jdbcType="VARCHAR" />
    <result column="SA_MCHT_CD" property="saMchtCd" jdbcType="VARCHAR" />
    <result column="SA_TERM_ID" property="saTermId" jdbcType="VARCHAR" />
    <result column="SA_PRI_ACCT_NUM" property="saPriAcctNum" jdbcType="VARCHAR" />
    <result column="SA_SELF_FLG" property="saSelfFlg" jdbcType="VARCHAR" />
    <result column="SA_MSG_TYPE" property="saMsgType" jdbcType="VARCHAR" />
    <result column="SA_PROC_CODE" property="saProcCode" jdbcType="VARCHAR" />
    <result column="SA_POS_CON_CD" property="saPosConCd" jdbcType="VARCHAR" />
    <result column="SA_BALACCT_STATUS" property="saBalacctStatus" jdbcType="VARCHAR" />
    <result column="SA_SETTLE_STATUS" property="saSettleStatus" jdbcType="VARCHAR" />
    <result column="SA_ISS_BRC" property="saIssBrc" jdbcType="VARCHAR" />
    <result column="SA_ACQ_BRC" property="saAcqBrc" jdbcType="VARCHAR" />
    <result column="SA_CANCL_FLAG" property="saCanclFlag" jdbcType="VARCHAR" />
    <result column="SA_ACQ_INS" property="saAcqIns" jdbcType="VARCHAR" />
    <result column="SA_FWD_INS" property="saFwdIns" jdbcType="VARCHAR" />
    <result column="SA_CD_FLAG" property="saCdFlag" jdbcType="VARCHAR" />
    <result column="SA_ERR_DATE" property="saErrDate" jdbcType="VARCHAR" />
    <result column="SA_HOST_SERIAL" property="saHostSerial" jdbcType="VARCHAR" />
    <result column="SA_BALERR_SERIAL" property="saBalerrSerial" jdbcType="VARCHAR" />
    <result column="SA_UPDATETIME" property="saUpdatetime" jdbcType="VARCHAR" />
    <result column="SA_TELLERCODE" property="saTellercode" jdbcType="VARCHAR" />
    <result column="SA_TRAN_PLACE3" property="saTranPlace3" jdbcType="VARCHAR" />
    <result column="SA_TRANDEVTYPE" property="saTrandevtype" jdbcType="VARCHAR" />
    <result column="SA_TRANKIND" property="saTrankind" jdbcType="VARCHAR" />
    <result column="SA_CARDTRANTYPE" property="saCardtrantype" jdbcType="VARCHAR" />
    <result column="SA_T0_FLAG" property="saT0Flag" jdbcType="VARCHAR" />
    <result column="I_CMP_NO" property="iCmpNo" jdbcType="DECIMAL" />
    <result column="SA_TXN_AMOUNT" property="saTxnAmount" jdbcType="DECIMAL" />
    <result column="SA_CHARGE_FEE" property="saChargeFee" jdbcType="DECIMAL" />
    <result column="SA_PAY_FEE" property="saPayFee" jdbcType="DECIMAL" />
    <result column="SA_MERCH_FEE" property="saMerchFee" jdbcType="DECIMAL" />
    <result column="SA_SELF_MERC_FEE" property="saSelfMercFee" jdbcType="DECIMAL" />
    <result column="SA_CUSTOMER_FEE" property="saCustomerFee" jdbcType="DECIMAL" />
    <result column="D_ERR_AMOUNT" property="dErrAmount" jdbcType="DECIMAL" />
    <result column="C_ERR_AMOUNT" property="cErrAmount" jdbcType="DECIMAL" />
    <result column="SA_ACQ_BRC_FEE" property="saAcqBrcFee" jdbcType="DECIMAL" />
    <result column="D_FEE_AMOUNT" property="dFeeAmount" jdbcType="DECIMAL" />
    <result column="C_FEE_AMOUNT" property="cFeeAmount" jdbcType="DECIMAL" />
    <result column="SA_SAV1" property="saSav1" jdbcType="DECIMAL" />
    <result column="SA_SAV2" property="saSav2" jdbcType="DECIMAL" />
    <result column="SA_SAV3" property="saSav3" jdbcType="VARCHAR" />
    <result column="SA_SAV4" property="saSav4" jdbcType="VARCHAR" />
    <result column="SA_SAV5" property="saSav5" jdbcType="VARCHAR" />
    <result column="SA_FRNT_DATE" property="saFrntDate" jdbcType="VARCHAR" />
    <result column="ETLNAME" property="etlname" jdbcType="VARCHAR" />
    <result column="DATADATE" property="datadate" jdbcType="VARCHAR" />
  </resultMap>
  
   <select id="selectBatPosp" parameterClass="java.util.HashMap" resultMap="BaseResultMap">
  	select *  from bat_posp_t_check_result LIMIT #_skiprows#, #_pagesize#
   </select>
  

  <insert id="insertBatPosp" parameterClass="com.yucheng.cmis.batch.diffdb.pojo.BatPospTCheckResult" >
    insert into bat_posp_t_check_result2 (EVENTID, SA_TRAN_PLACE, SA_TRAN_PLACE2, 
      SA_INST_ID, SA_BATCH_DAY, SA_HOST_DAY, 
      SA_SETTLE_DAY, SA_SYS_TRA_NUM, SA_RTR_REF_NUM, 
      SA_TXN_DATE_TIME, SA_MCHT_CD, SA_TERM_ID, 
      SA_PRI_ACCT_NUM, SA_SELF_FLG, SA_MSG_TYPE, 
      SA_PROC_CODE, SA_POS_CON_CD, SA_BALACCT_STATUS, 
      SA_SETTLE_STATUS, SA_ISS_BRC, SA_ACQ_BRC, 
      SA_CANCL_FLAG, SA_ACQ_INS, SA_FWD_INS, 
      SA_CD_FLAG, SA_ERR_DATE, SA_HOST_SERIAL, 
      SA_BALERR_SERIAL, SA_UPDATETIME, SA_TELLERCODE, 
      SA_TRAN_PLACE3, SA_TRANDEVTYPE, SA_TRANKIND, 
      SA_CARDTRANTYPE, SA_T0_FLAG, I_CMP_NO, 
      SA_TXN_AMOUNT, SA_CHARGE_FEE, SA_PAY_FEE, 
      SA_MERCH_FEE, SA_SELF_MERC_FEE, SA_CUSTOMER_FEE, 
      D_ERR_AMOUNT, C_ERR_AMOUNT, SA_ACQ_BRC_FEE, 
      D_FEE_AMOUNT, C_FEE_AMOUNT, SA_SAV1, 
      SA_SAV2, SA_SAV3, SA_SAV4, 
      SA_SAV5, SA_FRNT_DATE, ETLNAME, 
      DATADATE)
    values (#eventid#, #saTranPlace#, #saTranPlace2#, 
      #saInstId#, #saBatchDay#, #saHostDay#, 
      #saSettleDay#, #saSysTraNum#, #saRtrRefNum#, 
      #saTxnDateTime#, #saMchtCd#, #saTermId#, 
      #saPriAcctNum#, #saSelfFlg#, #saMsgType#, 
      #saProcCode#, #saPosConCd#, #saBalacctStatus#, 
      #saSettleStatus#, #saIssBrc#, #saAcqBrc#, 
      #saCanclFlag#, #saAcqIns#, #saFwdIns#, 
      #saCdFlag#, #saErrDate#, #saHostSerial#, 
      #saBalerrSerial#, #saUpdatetime#, #saTellercode#, 
      #saTranPlace3#, #saTrandevtype#, #saTrankind#, 
      #saCardtrantype#, #saT0Flag#, #iCmpNo#, 
      #saTxnAmount#, #saChargeFee#, #saPayFee#, 
      #saMerchFee#, #saSelfMercFee#, #saCustomerFee#, 
      #dErrAmount#, #cErrAmount#, #saAcqBrcFee#, 
      #dFeeAmount#, #cFeeAmount#, #saSav1#, 
      #saSav2#, #saSav3#, #saSav4#, 
      #saSav5#, #saFrntDate#, #etlname#, 
      #datadate#)
  </insert>
 
</sqlMap>